%h1.header
  Welcome to the Questions Page!

- @questions.each do |question|
  %p=question.title  
  %p=question.content
  = link_to "Edit", edit_question_path(question)
  = link_to "Delete", question_path(question), :method => :delete
